<!DOCTYPE html>
<html>

<style>
.title {
  padding-left: 110px;
}

</style>


  {% include head.html %}

	<body>
	
	<nav class="navbar">
		<div class="container-fluid">
    		<div class="navbar-header title">
				<a class="navbar-brand" href="/"><h1>Daniel Sabbagh</h1></a>
   			</div>
    	</div>
	</nav>
	
	
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-md-push-3">
					{{ content }}
				</div>
	
				<div class="col-md-3 col-md-pull-9">
					{% include nav.html %}
				</div>
			</div>
		</div>

	</body>

</html>
