<!DOCTYPE html>
<html>

<style>
.title {
  padding-left: 110px;
}

</style>


  {% include head.html %}

	<body>
	
	<nav class="navbar">
		<div class="container-fluid">
    	<div class="navbar-header title">
				<a class="navbar-brand" href="/"><h1>Daniel Sabbagh</h1></a>
   		</div>
    </div>
	</nav>
	
	
		<div class="container">
			<div class="row">
	
				<div class="col-xs-3">
					{% include nav.html %}
				</div>
			
				<div class="col-xs-9">
					{{ content }}
				</div>
		
			</div>
		</div>

	</body>

</html>
