--- layout: default ---

<div class="page-header">
	<h1 class="post-title">{{ page.title }}</h1>

	<h2>
		<small> {{ page.date | date: "%b %-d, %Y" }} • {% if page.tags %} {% for t in page.tags %} <a href="/tag/{{ t }}">{{ t | rstrip }}</a> {% endfor %} {% endif %}
		</small>
	</h2>
</div>

<div class="well-sm">{{ content }}</div>


{% for b in site.data.reading_list_large %}
<div>
	<div>
		<b>{{ b.name }}</b>, by {{ b.author }} <br> <b>{{ b.status }}</b>
		<br>
		<div class="inside-reading-info">
			<img src="{{ localhost:4000 }}/{{  b.image }}" height="160"
				width="100"></img>
		</div>
	</div>
	<br>
</div>
{% endfor %}
